/* <!-- add reset and remember flexboxes --> */

/* Universal selector */
* {
  font-family: "Amatic SC", serif;
}

* {
  box-sizing: border-box;
}
*     
  
  /* Element selectors */
  body {
  background-color: rgb(192, 190, 190);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  /* Sets the position of the body to relative */
  position: relative;
  margin: 0;
  padding: 0;
}

header {
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;

  border: 10px dotted #af9f9f;
  border-radius: 20px;
  background-color: #f0ead6;
  font-display: inherit;
}
nav {
  display: flex;
  background-color: #d6a27b;
  border-radius: 20px;
  height: 100px;
  width: 100%;
  font-size: x-large;
  margin-left: auto;
}

nav a {
  color: #524135;
  margin: auto;
  font-size: 36px;
  text-decoration: none;
  text-shadow: #1a1a1a;
  text-align: center;
}

h1 {
  color: #312f2f;
  font-size: 48px;
  font-family: "Amatic SC";
}

h2 {
  position: relative;
  color: #1a1a1a;
  max-width: 100%;
  font-size: 38px;
  line-height: 50px;
  border-radius: 20px;
  background-color: aliceblue;
}

figure {
  max-height: 75%;
}

ul {
  list-style-type: none;
}

img {
  max-width: 200px;
  border-radius: 20px;
}

/* Class selector */

.container {
  position: relative;
  text-align: center;
  color: white;
  justify-content: space-around;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.display-block {
  display: block;
}

.flex-container-1 {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: space-around;
  overflow: auto;
}

.hover:hover {
  border: 5px dotted rgb(10, 10, 10);
  border-radius: 20px;
}

.highlighted-text {
  color: #524135;
  text-align: auto;
  font-weight: bolder;
}

.highlighted-text-1 {
  color: antiquewhite;
  text-decoration: double;
}

.box {
  flex-flow: row;
  width: 20%;
  /* Sets top and bottom margin to 20px. Auto will center element */
  text-align: left;
  margin: auto;
  border-bottom: 5px solid #af9f9f;
  background-color: #8b8787;
}

.about-me {
  display: flexbox;
  flex-flow: row;
  max-height: 200px;
  max-block-size: 50px;
  padding-bottom: 5%;
}

.code-card .card-header {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.code-card:hover,
.code-card:hover .card-header {
  box-shadow: inset 0px 0px 8px rgba (232, 102, 236, 1), 0 0 15px,
    rgba(232, 102, 236, 1);
}

.card {
  border-style: solid;
  border-width: 1px;
  padding: 0;
  float: left;
  width: 25%;
}

/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
  .card {
    width: 50%;
  }
  /* Change the header color */
  header {
    background: #776c6a;
  }
}

/* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
  /* Change the header color */
  header {
    background: #e8e9ae;
  }
}

.image-radius {
  border-radius: 20px;
}
.image-padding {
  /* Sets padding on all sides to 20px */
  padding: 20px;
  background-color: #928b8f;
}

.image-border {
  /* Sets border on all sides */
  border: 10px solid #f0ead6cb;
}

.image-margin {
  /* Sets all sides to 20px */
  margin: 20px;
}

/* ID selector */

#about-me-section {
  width: 100%;
  max-height: fit-content;
  max-width: 100%;
  text-align: center;
  border: 5px dotted grey;
  border-radius: 20px;
  background-color: rgb(83, 83, 83);
  text-align: center;
  font-size: 36px;
  user-select: all;
}
#figure {
  width: 100%;
  max-height: fit-content;
  max-width: fit-content;
  display: flexbox;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 20px;
}

#portfolio-section {
  max-width: 100%;
  border-radius: 20px;
  max-height: fit-content;

  font-size: 28px;
  text-align: center;
  background-color: #af9f9f;
}

#project1 {
  max-height: fit-content;
  max-width: 100%;
  text-align: center;
  border: 5px solid grey;
  border-radius: 20px;
  background-color: rgb(83, 83, 83);
  text-align: center;
  font-size: 36px;
  color: white;
}

#project2 {
  max-height: fit-content;
  max-width: 100%;
  text-align: center;
  border: 5px solid grey;
  border-radius: 20px;
  background-color: rgb(83, 83, 83);
  text-align: center;
  font-size: 36px;
  color: rgb(247, 164, 192);
}

#project3 {
  max-height: fit-content;
  max-width: 100%;
  text-align: center;
  border: 5px solid grey;
  border-radius: 20px;
  background-color: rgb(83, 83, 83);
  text-align: center;
  font-size: 36px;
  color: white;
}

#project4 {
  max-height: fit-content;
  max-width: 100%;
  text-align: center;
  border: 5px solid grey;
  border-radius: 20px;
  background-color: rgb(83, 83, 83);
  text-align: center;
  font-size: 36px;
  color: rgb(255, 255, 255);
}

#contact-section {
  max-width: 100%;
  border-radius: 20px;
  max-height: fit-content;

  font-size: 28px;
  text-align: center;

  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: content-box;

  max-width: 100%;
  max-height: fit-content;
  padding-bottom: 5%;
  line-height: auto;
  border-radius: 20px;
/*  */
  background-color: #f0ead6;
  /* font-size: 28px; */
  /* text-align: center; */
}
#email {
  width: 600px;
  max-height: fit-content;
  max-width: 100%;
  text-align: center;
  border: 5px solid grey;
  border-radius: 20px;
  background-color: rgb(83, 83, 83);
  color: antiquewhite;

  font-size: 36px;
}

#github {
  width: 600px;
  max-height: fit-content;
  max-width: 100%;
  text-align: center;
  border: 5px solid grey;
  border-radius: 20px;
  background-color: rgb(83, 83, 83);
  color: antiquewhite;

  font-size: 36px;
}

#portfoliocontact {
  width: 600px;
  max-height: fit-content;
  max-width: 100%;
  text-align: center;
  border: 5px solid grey;
  border-radius: 20px;
  background-color: rgb(83, 83, 83);
  color: antiquewhite;

  font-size: 36px;
}

#contact {
  flex-wrap: wrap;
}

#hltext {
  color: rgb(249, 248, 253);
}

#links {
  text-align: right;
  padding-right: 20px;
  font-size: 36px;
  box-shadow: #312f2f;
  color: #312f2f;
}

#clickable {
  text-align: right;
  padding-right: 20px;
  font-size: 36px;
  box-shadow: #312f2f;
  color: rgb(107, 109, 109);
}

footer {
  background-color: rgb(107, 109, 109);
  color: #2c2c2b;
  width: 100%;
  height: 100px;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;

  line-height: auto;
  border-radius: 20px;

  font-size: 36px;
  text-align: center;
}
